.about-child {
    position: absolute;
    top: 190px;
    left: 0;
    background-color: #427a6f;
    width: 1728px;
    height: 253px;
  }
  .about-us {
    position: absolute;
    top: 274px;
    left: calc(50% - 157px);
    font-size: 65px;
    font-weight: 500;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 633px;
    height: 649px;
    object-fit: cover;
  }
  .south-africas {
    color: #fff;
  }
  .south-africas-preferred {
    margin: 0;
  }
  .south-africas-preferred-container {
    position: absolute;
    top: 231px;
    left: 49px;
    line-height: 105.9%;
    font-weight: 800;
    display: inline-block;
    width: 336px;
  }
  .rectangle-parent {
    position: absolute;
    top: 583px;
    left: 290px;
    width: 633px;
    height: 649px;
    font-size: 33px;
    color: #6eba93;
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #427a6f;
    width: 670px;
    height: 328px;
  }
  .client-service-excellence,
  .established-in-response,
  .off-the-grids,
  .we-recognise-the {
    position: absolute;
    top: 39px;
    left: 38px;
    line-height: 105.9%;
    display: inline-block;
    width: 582px;
  }
  .client-service-excellence,
  .off-the-grids,
  .we-recognise-the {
    top: 116px;
  }
  .client-service-excellence,
  .we-recognise-the {
    top: 175px;
  }
  .we-recognise-the {
    top: 250px;
  }
  .rectangle-group {
    position: absolute;
    top: 748px;
    left: 769px;
    width: 670px;
    height: 328px;
  }
  .our-greenpreneur-partners {
    position: absolute;
    top: 1994px;
    left: 88px;
    font-size: 50px;
    font-weight: 500;
    color: #427a6f;
  }
  .teaming-up-with {
    position: absolute;
    top: 2087px;
    left: 91px;
    color: #000;
    display: inline-block;
    width: 411px;
  }
  .leadership-sec-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6eba93;
    width: 1728px;
    height: 488px;
  }
  .meet-the-leadership {
    position: absolute;
    top: 41px;
    left: 88px;
    font-weight: 800;
  }
  .philip-and-cathy-container {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 675px;
  }
  .philip-and-cathy-crous-have-a-wrapper {
    position: absolute;
    top: 178px;
    left: 790px;
    width: 675px;
    height: 192px;
    font-size: 20px;
    color: #fff;
    font-family: Montserrat;
  }
  .leadership-sec-inner,
  .leadership-sec-item {
    position: absolute;
    top: 129px;
    left: 91px;
    border-radius: 20px;
    width: 260px;
    height: 597px;
    object-fit: cover;
  }
  .leadership-sec-inner {
    left: 384px;
  }
  .leadership-sec {
    position: absolute;
    top: 1372px;
    left: 0;
    width: 1728px;
    height: 726px;
    font-size: 55px;
    color: #427a6f;
  }
  .group-child1,
  .group-inner,
  .rectangle-icon {
    position: absolute;
    top: 21.29px;
    left: 0;
    width: 133.55px;
    height: 75.48px;
    object-fit: cover;
  }
  .group-child1,
  .rectangle-icon {
    top: 124.84px;
    left: 5.81px;
    width: 82.26px;
    height: 79.35px;
  }
  .group-child1 {
    top: 29.03px;
    left: 363.87px;
    width: 226.45px;
    height: 59.03px;
  }
  .group-child2,
  .group-child3,
  .group-child4 {
    position: absolute;
    top: 0;
    left: 850.65px;
    width: 139.35px;
    height: 80.32px;
    object-fit: cover;
  }
  .group-child3,
  .group-child4 {
    top: 145.16px;
    left: 133.55px;
    width: 195.48px;
    height: 40.65px;
  }
  .group-child4 {
    top: 21.29px;
    left: 619.35px;
    width: 220.65px;
    height: 56.13px;
  }
  .group-child5,
  .group-child6,
  .group-child7 {
    position: absolute;
    top: 36.77px;
    left: 120px;
    width: 214.84px;
    height: 43.55px;
    object-fit: cover;
  }
  .group-child6,
  .group-child7 {
    top: 115.16px;
    left: 375.48px;
    width: 230.32px;
    height: 84.19px;
  }
  .group-child7 {
    top: 124.84px;
    left: 641.61px;
    width: 155.81px;
    height: 60.97px;
  }
  .group-child8,
  .rectangle-container {
    position: absolute;
    top: 2062px;
    left: 687px;
    width: 990px;
    height: 204.19px;
  }
  .group-child8 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .green-journey-now,
  .start-your {
    position: absolute;
    height: 6.42%;
    width: 9.72%;
    top: 22.15%;
    left: 45.14%;
    line-height: 35.5px;
    font-weight: 800;
    display: inline-block;
  }
  .green-journey-now {
    height: 14.7%;
    width: 48.25%;
    top: 33.75%;
    left: 25.87%;
    font-size: 80px;
    line-height: 105.1%;
    color: #fff;
  }
  .footer-inner,
  .group-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .footer-inner {
    height: 63.8%;
    width: 95.95%;
    right: 2%;
    bottom: 36.2%;
    left: 2.05%;
    font-size: 35px;
    color: #6eba93;
  }
  .get-quotation {
    position: relative;
  }
  .get-quotation-wrapper {
    position: absolute;
    height: 7.66%;
    width: 8.94%;
    top: 37.52%;
    right: 45.48%;
    bottom: 54.82%;
    left: 45.59%;
    border-radius: 37px;
    background-color: #6eba93;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 30px;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
  }
  .footer-child {
    position: absolute;
    height: 36.59%;
    width: 95.95%;
    top: 63.41%;
    right: 2%;
    bottom: 0;
    left: 2.05%;
    background-color: #427a6f;
  }
  .copyright2023-off-the,
  .privacy-policy {
    position: absolute;
    font-weight: 500;
    display: inline-block;
  }
  .privacy-policy {
    height: 1.75%;
    width: 5.11%;
    top: 93.26%;
    left: 81.12%;
    font-size: 14px;
  }
  .copyright2023-off-the {
    height: 1.72%;
    width: 18.93%;
    top: 92.07%;
    left: 10.27%;
  }
  .footer-item {
    position: absolute;
    height: 0.2%;
    width: 96.03%;
    top: 89.2%;
    right: 1.96%;
    bottom: 10.6%;
    left: 2.01%;
    border-top: 1.5px solid #fff;
    box-sizing: border-box;
  }
  .group-icon {
    position: absolute;
    height: 100%;
    width: 30.39%;
    top: 0;
    right: 69.61%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .call-us,
  .div,
  .group-container {
    position: absolute;
    top: 54.55%;
    left: 37.57%;
  }
  .call-us,
  .group-container {
    top: 5.45%;
  }
  .group-container {
    height: 98.21%;
    width: 34.02%;
    top: 1.79%;
    right: 65.98%;
    bottom: 0;
    left: 0;
  }
  .email-us {
    position: absolute;
    top: 7.14%;
    left: 24.64%;
  }
  .group-child9,
  .solutionsoffthegridsinfo {
    position: absolute;
    top: 55.36%;
    left: 24.64%;
  }
  .group-child9 {
    height: 98.21%;
    width: 19.64%;
    top: 0;
    right: 80.36%;
    bottom: 1.79%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .email-us-parent {
    position: absolute;
    height: 100%;
    width: 52.63%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 47.37%;
  }
  .footer-child1,
  .group-parent {
    position: absolute;
    bottom: 18.49%;
  }
  .group-parent {
    height: 7.4%;
    width: 29.54%;
    top: 74.11%;
    right: 33.93%;
    left: 36.53%;
    font-size: 18px;
  }
  .footer-child1 {
    height: 5.68%;
    width: 2.33%;
    top: 75.83%;
    right: 29.15%;
    left: 68.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .footer-child2,
  .rectangle-div {
    position: absolute;
    height: 6.08%;
    width: 14.6%;
    top: 75.3%;
    right: 9.44%;
    bottom: 18.63%;
    left: 75.96%;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid rgba(110, 186, 147, 0.44);
    box-sizing: border-box;
  }
  .footer-child2 {
    height: 4.23%;
    width: 4.16%;
    top: 76.22%;
    right: 10.05%;
    bottom: 19.55%;
    left: 85.79%;
    background-color: #6eba93;
  }
  .email-address,
  .subscribe-to-our {
    position: absolute;
    top: 70.28%;
    left: 76.9%;
    font-size: 17px;
  }
  .email-address {
    top: 77.28%;
    left: 79.18%;
    font-size: 13px;
    color: #818685;
  }
  .footer-child7,
  .submit {
    position: absolute;
    top: 77.01%;
    left: 86.56%;
  }
  .footer-child7 {
    height: 9.78%;
    width: 11.6%;
    top: 70.81%;
    right: 78.12%;
    bottom: 19.42%;
    left: 10.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .packages,
  .products {
    position: absolute;
    top: 0;
    left: 0;
  }
  .products {
    left: 18.99%;
  }
  .about-us1,
  .gallery,
  .services {
    position: absolute;
    top: 0;
    left: 37.32%;
  }
  .about-us1,
  .gallery {
    left: 54.83%;
  }
  .gallery {
    left: 73.81%;
    cursor: pointer;
  }
  .packages-parent,
  .reviews {
    position: absolute;
    top: 0;
    left: 89.85%;
  }
  .packages-parent {
    height: 3.04%;
    width: 33.93%;
    top: 92.07%;
    right: 29.54%;
    bottom: 4.89%;
    left: 36.53%;
    font-size: 17px;
  }
  .footer,
  .home-wrapper {
    position: absolute;
    top: 2401px;
    left: -37px;
    width: 1801.01px;
    height: 757px;
    font-size: 15px;
  }
  .home-wrapper {
    height: 95%;
    width: 27.36%;
    top: 5%;
    right: 72.64%;
    bottom: 0;
    left: 0;
    border-radius: 80px;
    background-color: #6eba93;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .mingcutemenu-line-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-parent {
    position: absolute;
    height: 100%;
    width: 36.82%;
    top: 0;
    right: -134.12%;
    bottom: 0;
    left: 197.3%;
    border-radius: 80px;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9px 14px;
    gap: 20px;
  }
  .about-us2,
  .services1 {
    position: absolute;
    top: 0;
    left: 43.92%;
  }
  .services1 {
    left: 80.07%;
  }
  .group-child13,
  .header {
    position: absolute;
    height: 91.16%;
    width: 26.36%;
    top: 2.28%;
    right: 0;
    bottom: 6.56%;
    left: 73.64%;
  }
  .group-child13 {
    height: 100%;
    width: 10.77%;
    top: 0;
    right: 89.23%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .menu-arrow-icon,
  .products-solutions {
    position: absolute;
    top: 7.69%;
    left: 0;
  }
  .menu-arrow-icon {
    height: 100%;
    width: 14.44%;
    top: 100%;
    right: -14.44%;
    bottom: -100%;
    left: 100%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .products-solutions-parent {
    position: absolute;
    height: 59.26%;
    width: 16.03%;
    top: 22.79%;
    right: -20.84%;
    bottom: 17.95%;
    left: 104.81%;
    display: none;
  }
  .group-parent3 {
    position: absolute;
    height: 100%;
    width: 73.88%;
    top: 0;
    right: 26.12%;
    bottom: 0;
    left: 0;
  }
  .light-header {
    position: absolute;
    top: 0;
    left: calc(50% - 761.5px);
    width: 1520px;
    height: 43.88px;
  }
  .menu-arrow-icon1 {
    position: absolute;
    height: 100%;
    width: 14.44%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 85.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .products-solutions-group {
    position: absolute;
    height: 13.9%;
    width: 92.31%;
    top: 0;
    right: 1.54%;
    bottom: 86.1%;
    left: 6.15%;
  }
  .prdcts-and-solutions-dark-menu {
    position: absolute;
    top: 10px;
    left: 1166px;
    width: 195px;
    height: 187px;
  }
  .menu-icons {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-group {
    position: absolute;
    height: 7.87%;
    width: 29.5%;
    top: 0;
    right: 0;
    bottom: 92.13%;
    left: 70.5%;
    border-radius: 80px;
    border: 1.5px solid #6eba93;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 14px;
    gap: 20px;
  }
  .menu-dark {
    position: absolute;
    top: 0;
    left: 1140px;
    width: 383px;
    height: 635px;
    color: #6eba93;
  }
  .light-header-parent {
    position: absolute;
    top: 64px;
    left: calc(50% - 773px);
    width: 1523px;
    height: 635px;
    font-size: 16px;
    color: #000;
  }
  .about {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 3158px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Avenir;
  }
  